@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); /*Imported Font*/

*{
    font-family: 'Roboto Condensed', sans-serif;
    border-collapse: collapse;
    box-sizing: border-box;
    
}
body{height: 300px;}
div{
    margin: 30px auto;
    
}
.section{
    display: flex;
}

h1{
    font-size: 30px;
    text-align: center;
}
.youWon{
    display: flex;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.623);
    color: black;
    height: 75px;
    width: 400px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
	box-shadow: 1px 1px 20px #771dde;
	position:fixed;
	top: 20%;
	left: 37.4%;
	transition-duration: 1s;
}

.youWon:hover{
    box-shadow: 1px 1px 20px #0a26c2;
}
h2{
    text-align: center;
}
.btn{
    display: flex;
}
input{
    border: hidden;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color:#771dde;
    color: white;
    cursor: pointer;
}
#hints{
    margin: 20px auto;
}
#origImg{
    border: 1px solid darkgrey;
    height: 300px;
}
#pieces{
    background-color:rgb(245, 245, 245);
    width: 300px;
    height: 300px;
    border: 1px solid darkgrey;
    position: relative;
}
#puzzle{
    position: relative;
    background-color:rgba(245, 245, 245);
    width: 300px;
    height: 300px;
    border: 1px solid rgb(134, 134, 134);
}
.grid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: 0px 0px;
}
  
.puzzlePlce {
    margin: 0px 0px;
    border: 1px solid rgba(207, 207, 207, 0.521);
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}
.puzzlePlce:hover{
    box-shadow: 1px 1px 10px rgba(54, 52, 52, 0.555);
    box-shadow: -1px -1px 10px rgba(54, 52, 52, 0.555);
}

.smallPiece{
    height: 100px;
    width: 100px;
    overflow: hidden;
    background-image: url(./img/img.jpeg);
    position: absolute;
    margin: 0px auto;
    border: 3px solid rgba(207, 207, 207);
   
}

.smallPiece:hover{
    border: 3px solid#771dde;
    box-shadow: 1px 1px 10px rgba(54, 52, 52, 0.555);
    box-shadow: -1px -1px 10px rgba(54, 52, 52, 0.555);
}


h3{
    margin: 0px 0px;
    color: white;
    background-color: #771ddea2;
    border: 1px solid rgba(207, 207, 207, 0.603);
    width: 20px;
    text-align: center;
    font-size: 15px;
}

